* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*>>>>>>>>>>>>>>>STYLE<<<<<<<<<<<<<*/
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*>>>>>>>>>>>>>>>LARGE SECTION<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>MEDIUM SECTION<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>SMALL SECTION<<<<<<<<<<<<<<<<<<<<<<*/
#app {
  width: 100%;
}
#app header {
  width: 100vw;
  max-width: 100%;
  height: 200px;
  padding: 5px 15px 0px 15px;
}
#app header .header-container {
  margin: 0 auto;
  width: 1200px;
  min-width: 1200px;
}
@media screen and (max-width: 1199px) {
  #app header .header-container {
    margin: 0 auto;
    width: 992px;
    max-width: 100%;
    min-width: 992px;
  }
}
@media screen and (max-width: 991px) {
  #app header .header-container {
    margin: 0 auto;
    max-width: 100%;
    width: 768px;
    min-width: 768px;
  }
}
@media screen and (max-width: 767px) {
  #app header .header-container {
    margin: 0 auto;
    width: 577px;
    max-width: 100%;
    min-width: 577px;
  }
}
#app header .header-container .logo {
  width: 250px;
  margin: 0 auto;
}
#app header .header-container .logo img {
  width: 100%;
}
#app header .header-container nav {
  display: flex;
  justify-content: center;
}
#app header .header-container nav ul {
  display: flex;
}
#app header .header-container nav ul li {
  margin-right: 20px;
  padding: 15px;
}
#app header .header-container nav ul li a {
  color: black;
}
#app header .header-container nav ul li:hover {
  background-color: #bce4f9;
}
#app .main-container .main-products {
  display: flex;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
  background-image: url("/img/bg.jpg");
  background-position: center;
  padding-top: 50px;
}
#app .main-container .main-products .all-products-container {
  margin: 0 auto;
  width: 1200px;
  min-width: 1200px;
  content: "";
  display: table;
  clear: both;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  #app .main-container .main-products .all-products-container {
    margin: 0 auto;
    width: 992px;
    max-width: 100%;
    min-width: 992px;
  }
}
@media screen and (max-width: 991px) {
  #app .main-container .main-products .all-products-container {
    margin: 0 auto;
    max-width: 100%;
    width: 768px;
    min-width: 768px;
  }
}
@media screen and (max-width: 767px) {
  #app .main-container .main-products .all-products-container {
    margin: 0 auto;
    width: 577px;
    max-width: 100%;
    min-width: 577px;
  }
}
#app .main-container .main-products .all-products-container .pastaType {
  text-transform: uppercase;
  color: #05206c;
  padding-left: 15px;
}
#app .main-container .main-products .all-products-container .section {
  content: "";
  display: table;
  clear: both;
  width: 100%;
}
#app .main-container .main-products .all-products-container .section .box {
  padding: 15px;
  float: left;
  width: calc((100% / 12) * 4);
}
@media screen and (max-width: 1199px) {
  #app .main-container .main-products .all-products-container .section .box {
    width: calc((100% / 12) * 6);
  }
}
@media screen and (max-width: 767px) {
  #app .main-container .main-products .all-products-container .section .box {
    width: calc((100% / 12) * 12);
  }
}
#app .main-container .main-products .all-products-container .section .box img {
  width: 100%;
}
#app .main-container .main-productDetails {
  position: relative;
}
#app .main-container .main-productDetails .chevron-left {
  position: absolute;
  height: 100%;
  width: 150px;
  background-color: rgba(0, 217, 255, 0.15);
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.37);
}
#app .main-container .main-productDetails .chevron-left:hover {
  color: #fff;
}
#app .main-container .main-productDetails .chevron-right {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 150px;
  background-color: rgba(0, 217, 255, 0.15);
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.37);
}
#app .main-container .main-productDetails .chevron-right:hover {
  color: #fff;
}
#app .main-container .main-productDetails .product-title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #05206c;
}
#app .main-container .main-productDetails .images-box {
  display: flex;
  flex-direction: column;
}
#app .main-container .main-productDetails .product-description {
  padding: 20px 0px;
  background-color: #bdd9e4;
  color: #05206c;
}
#app .main-container .main-productDetails .product-description p {
  margin: 0 auto;
  width: 1200px;
  min-width: 1200px;
}
#app footer {
  width: 100vw;
  max-width: 100%;
  padding-top: 30px;
}
#app footer .foot-wrapper {
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
  width: 1200px;
  min-width: 1200px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1199px) {
  #app footer .foot-wrapper {
    margin: 0 auto;
    width: 992px;
    max-width: 100%;
    min-width: 992px;
  }
}
@media screen and (max-width: 991px) {
  #app footer .foot-wrapper {
    margin: 0 auto;
    max-width: 100%;
    width: 768px;
    min-width: 768px;
  }
}
@media screen and (max-width: 767px) {
  #app footer .foot-wrapper {
    margin: 0 auto;
    width: 577px;
    max-width: 100%;
    min-width: 577px;
  }
}
@media screen and (max-width: 991px) {
  #app footer .foot-wrapper {
    flex-direction: column;
  }
}
#app footer .foot-wrapper .foot-left .logo {
  width: 200px;
}
#app footer .foot-wrapper .foot-left .logo img {
  width: 100%;
}
#app footer .foot-wrapper .foot-left ul li {
  font-size: 15px;
  color: #969da8;
}
#app footer .foot-wrapper .foot-box-list {
  width: 30%;
}
#app footer .foot-wrapper .foot-box-list .service-title {
  color: #828a97;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  #app footer .foot-wrapper .foot-box-list .service-title {
    font-size: 15px;
  }
}
#app footer .foot-wrapper .foot-box-list ul {
  margin-bottom: 30px;
}
#app footer .foot-wrapper .foot-box-list ul li {
  line-height: 20px;
  font-size: 15px;
}
#app footer .foot-wrapper .foot-box-list ul li a {
  color: #969da8;
}
#app footer .bottom-img {
  width: 100%;
  min-width: 577px;
}
#app footer .bottom-img img {
  width: 100%;
}
