* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*>>>>>>>>>>>>>>>STYLE<<<<<<<<<<<<<*/
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*>>>>>>>>>>>>>>>LARGE SECTION<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>MEDIUM SECTION<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>SMALL SECTION<<<<<<<<<<<<<<<<<<<<<<*/
#app {
  width: 100%;
}
#app header {
  width: 100vw;
  max-width: 100%;
  height: 200px;
  padding: 5px 15px 0px 15px;
}
#app header .header-container {
  margin: 0 auto;
  width: 1200px;
  min-width: 1200px;
}
@media screen and (max-width: 1199px) {
  #app header .header-container {
    margin: 0 auto;
    width: 992px;
    max-width: 100%;
    min-width: 992px;
  }
}
@media screen and (max-width: 991px) {
  #app header .header-container {
    margin: 0 auto;
    max-width: 100%;
    width: 768px;
    min-width: 768px;
  }
}
@media screen and (max-width: 767px) {
  #app header .header-container {
    margin: 0 auto;
    width: 577px;
    max-width: 100%;
    min-width: 577px;
  }
}
#app header .header-container .logo {
  width: 250px;
  margin: 0 auto;
}
#app header .header-container .logo img {
  width: 100%;
}
#app header .header-container .burger-menu {
  display: none;
}
@media screen and (max-width: 991px) {
  #app header .header-container .burger-menu {
    display: flex;
    justify-content: center;
  }
}
#app header .header-container .burger-menu:hover {
  cursor: pointer;
  transform: scale(1.1);
}
@media screen and (max-width: 991px) {
  #app header .header-container .burger-menu:hover ~ nav {
    display: flex;
    justify-content: center;
  }
}
#app header .header-container nav {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 991px) {
  #app header .header-container nav {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  #app header .header-container nav:hover {
    display: flex;
    justify-content: center;
  }
}
#app header .header-container nav ul {
  display: flex;
}
@media screen and (max-width: 991px) {
  #app header .header-container nav ul {
    margin-top: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px -3px 3px black;
    z-index: 100;
    width: 50%;
  }
}
#app header .header-container nav ul li {
  margin-right: 20px;
  padding: 15px;
}
#app header .header-container nav ul li a {
  color: black;
}
#app header .header-container nav ul li:hover {
  background-color: #bce4f9;
}
#app .main-container .main-home {
  width: 100vw;
  max-width: 100%;
  height: 735px;
  background-image: url("/img/ruota_oro.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#app .main-container .main-home .wrapper-opacizer {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.561);
  position: relative;
  overflow: hidden;
}
#app .main-container .main-home .wrapper-opacizer .lateral-img {
  position: absolute;
  width: 400px;
  opacity: 0.8;
}
@media screen and (max-width: 1199px) {
  #app .main-container .main-home .wrapper-opacizer .lateral-img {
    width: 300px;
  }
}
@media screen and (max-width: 991px) {
  #app .main-container .main-home .wrapper-opacizer .lateral-img {
    width: 190px;
  }
}
@media screen and (max-width: 767px) {
  #app .main-container .main-home .wrapper-opacizer .lateral-img {
    width: 180px;
  }
}
#app .main-container .main-home .wrapper-opacizer .lateral-img img {
  width: 100%;
}
#app .main-container .main-home .wrapper-opacizer .leftImg {
  left: -8%;
}
#app .main-container .main-home .wrapper-opacizer .rightImg {
  right: -5%;
}
#app .main-container .main-home .wrapper-opacizer .rightImg img {
  transform: rotate(45deg);
}
#app .main-container .main-home .wrapper-opacizer .titleContainer {
  margin-bottom: 30px;
  position: absolute;
  text-align: center;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}
#app .main-container .main-home .wrapper-opacizer .titleContainer .title {
  text-transform: uppercase;
  color: #aa9773;
  font-size: 18px;
}
@media screen and (max-width: 1199px) {
  #app .main-container .main-home .wrapper-opacizer .titleContainer .title {
    font-size: 18px;
  }
}
@media screen and (max-width: 991px) {
  #app .main-container .main-home .wrapper-opacizer .titleContainer .title {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  #app .main-container .main-home .wrapper-opacizer .titleContainer .title {
    font-size: 8px;
  }
}
#app .main-container .main-home .wrapper-opacizer .titleContainer .subTitle {
  text-transform: capitalize;
  color: #000;
  font-size: 35px;
}
@media screen and (max-width: 1199px) {
  #app .main-container .main-home .wrapper-opacizer .titleContainer .subTitle {
    font-size: 25px;
  }
}
@media screen and (max-width: 991px) {
  #app .main-container .main-home .wrapper-opacizer .titleContainer .subTitle {
    font-size: 23px;
  }
}
@media screen and (max-width: 767px) {
  #app .main-container .main-home .wrapper-opacizer .titleContainer .subTitle {
    font-size: 18px;
  }
}
#app .main-container .main-home .wrapper-opacizer .img-plate {
  position: absolute;
  bottom: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
}
#app .main-container .main-home .wrapper-opacizer .img-plate img {
  width: 300px;
}
@media screen and (max-width: 1199px) {
  #app .main-container .main-home .wrapper-opacizer .img-plate img {
    width: 250px;
  }
}
@media screen and (max-width: 991px) {
  #app .main-container .main-home .wrapper-opacizer .img-plate img {
    width: 200px;
  }
}
@media screen and (max-width: 767px) {
  #app .main-container .main-home .wrapper-opacizer .img-plate img {
    width: 150px;
  }
}
#app .main-container .main-products {
  display: flex;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
  background-image: url("/img/bg.jpg");
  background-position: center;
  padding-top: 50px;
}
#app .main-container .main-products .all-products-container {
  margin: 0 auto;
  width: 1200px;
  min-width: 1200px;
  content: "";
  display: table;
  clear: both;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  #app .main-container .main-products .all-products-container {
    margin: 0 auto;
    width: 992px;
    max-width: 100%;
    min-width: 992px;
  }
}
@media screen and (max-width: 991px) {
  #app .main-container .main-products .all-products-container {
    margin: 0 auto;
    max-width: 100%;
    width: 768px;
    min-width: 768px;
  }
}
@media screen and (max-width: 767px) {
  #app .main-container .main-products .all-products-container {
    margin: 0 auto;
    width: 577px;
    max-width: 100%;
    min-width: 577px;
  }
}
#app .main-container .main-products .all-products-container .pastaType {
  text-transform: uppercase;
  color: #05206c;
  padding-left: 15px;
}
#app .main-container .main-products .all-products-container .section {
  content: "";
  display: table;
  clear: both;
  width: 100%;
}
#app .main-container .main-products .all-products-container .section .box {
  padding: 15px;
  float: left;
  width: calc((100% / 12) * 4);
}
@media screen and (max-width: 991px) {
  #app .main-container .main-products .all-products-container .section .box {
    width: calc((100% / 12) * 6);
  }
}
@media screen and (max-width: 767px) {
  #app .main-container .main-products .all-products-container .section .box {
    width: calc((100% / 12) * 12);
  }
}
#app .main-container .main-products .all-products-container .section .box img {
  width: 100%;
}
#app .main-container .main-productDetails {
  position: relative;
}
#app .main-container .main-productDetails .chevron-left {
  width: 150px;
  position: absolute;
  height: 100%;
  background-color: rgba(0, 217, 255, 0.15);
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.37);
}
#app .main-container .main-productDetails .chevron-left:hover {
  color: #fff;
}
@media screen and (max-width: 1199px) {
  #app .main-container .main-productDetails .chevron-left {
    font-size: 40px;
    width: 100px;
  }
}
@media screen and (max-width: 991px) {
  #app .main-container .main-productDetails .chevron-left {
    font-size: 35px;
    width: 80px;
  }
}
@media screen and (max-width: 767px) {
  #app .main-container .main-productDetails .chevron-left {
    font-size: 30px;
    width: 45px;
  }
}
#app .main-container .main-productDetails .chevron-right {
  right: 0px;
  width: 150px;
  position: absolute;
  height: 100%;
  background-color: rgba(0, 217, 255, 0.15);
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.37);
}
#app .main-container .main-productDetails .chevron-right:hover {
  color: #fff;
}
@media screen and (max-width: 1199px) {
  #app .main-container .main-productDetails .chevron-right {
    font-size: 40px;
    width: 100px;
  }
}
@media screen and (max-width: 991px) {
  #app .main-container .main-productDetails .chevron-right {
    font-size: 35px;
    width: 80px;
  }
}
@media screen and (max-width: 767px) {
  #app .main-container .main-productDetails .chevron-right {
    font-size: 30px;
    width: 45px;
  }
}
#app .main-container .main-productDetails .product-title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #05206c;
}
#app .main-container .main-productDetails .images-box {
  display: flex;
  flex-direction: column;
}
#app .main-container .main-productDetails .product-description-container {
  padding: 20px 0px;
  background-color: #bdd9e4;
  color: #05206c;
}
#app .main-container .main-productDetails .product-description-container .productDetails-content {
  margin: 0 auto;
  width: calc(100% - 300px);
}
@media screen and (max-width: 1199px) {
  #app .main-container .main-productDetails .product-description-container .productDetails-content {
    width: calc(100% - 200px);
  }
}
@media screen and (max-width: 991px) {
  #app .main-container .main-productDetails .product-description-container .productDetails-content {
    max-width: calc(100%-160px);
  }
}
@media screen and (max-width: 767px) {
  #app .main-container .main-productDetails .product-description-container .productDetails-content {
    width: calc(100% - 90px);
  }
}
#app .main-container .main-productDetails .product-description-container .productDetails-content p {
  width: 100%;
  padding: 15px;
}
@media screen and (max-width: 767px) {
  #app .main-container .main-productDetails .product-description-container .productDetails-content p {
    padding: 20px;
    font-size: 12px;
  }
}
#app footer {
  width: 100vw;
  max-width: 100%;
  padding-top: 30px;
}
#app footer .foot-wrapper {
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
  width: 1200px;
  min-width: 1200px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1199px) {
  #app footer .foot-wrapper {
    margin: 0 auto;
    width: 992px;
    max-width: 100%;
    min-width: 992px;
  }
}
@media screen and (max-width: 991px) {
  #app footer .foot-wrapper {
    margin: 0 auto;
    max-width: 100%;
    width: 768px;
    min-width: 768px;
  }
}
@media screen and (max-width: 767px) {
  #app footer .foot-wrapper {
    margin: 0 auto;
    width: 577px;
    max-width: 100%;
    min-width: 577px;
  }
}
@media screen and (max-width: 991px) {
  #app footer .foot-wrapper {
    flex-direction: column;
  }
}
#app footer .foot-wrapper .foot-left .logo {
  width: 200px;
}
#app footer .foot-wrapper .foot-left .logo img {
  width: 100%;
}
#app footer .foot-wrapper .foot-left ul li {
  font-size: 15px;
  color: #969da8;
}
#app footer .foot-wrapper .foot-box-list {
  width: 30%;
}
#app footer .foot-wrapper .foot-box-list .service-title {
  color: #828a97;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  #app footer .foot-wrapper .foot-box-list .service-title {
    min-width: 577px;
    font-size: 15px;
  }
}
#app footer .foot-wrapper .foot-box-list ul {
  margin-bottom: 30px;
}
#app footer .foot-wrapper .foot-box-list ul li {
  line-height: 20px;
  font-size: 15px;
}
#app footer .foot-wrapper .foot-box-list ul li a {
  color: #969da8;
}
#app footer .bottom-img {
  width: 100%;
  min-width: 577px;
}
#app footer .bottom-img img {
  width: 100%;
}
