* {
  margin : 0px;
  padding : 0px;
  box-sizing : border-box;
}
@mixin macroSectionWidth {
  width : 100vw;
  max-width : 100%;
}
@mixin sectionPageCenter {
  margin : 0 auto;
  width : 1200px;
  min-width: 1200px;
}

@mixin clearFix {
  content : '';
  display : table;
  clear : both;
}

@mixin footTitle {
  color : #828a97;
  font-size : 18px;
  line-height : 40px;
  text-transform : uppercase;
}

@mixin chevron {
  position : absolute;
  height : 100%;
  background-color: rgba(0, 217, 255, 0.15);
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color : rgba(255, 255, 255, 0.37);
  &:hover {
    color : #fff;
  }
}
/*>>>>>>>>>>>>>>>STYLE<<<<<<<<<<<<<*/
ul {
  list-style : none;
}

a {
  text-decoration : none;
}

$font-gray : #969da8;
$font-blue : #05206c;
$bg-color-product : #bdd9e4;

