@mixin main-home {

}
@mixin main-products {
  @include macroSectionWidth;
  background-image : url('/img/bg.jpg');
  background-position: center;
  padding-top: 50px;
  .all-products-container {
    @include sectionPageCenter;
    @include clearFix;
    .pastaType {
      text-transform : uppercase;
      color : $font-blue;
    }
    .section {
      @include clearFix;
      .box {
        float : left;
        margin-right : 15px;
        width : 380px;
        height : 240px;
        img {
          width : 100%;
        }
      }
    }
  }//end all-products-container
};

@mixin main-productDetails {
  position: relative;
  .chevron-left {
    position : absolute;
    height : 100%;
    width : 150px;
    background-color: rgba(0, 217, 255, 0.15);
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color : #fff;
  }
  .chevron-right {
    position : absolute;
    right : 0px;
    height : 100%;
    width : 150px;
    background-color: rgba(0, 217, 255, 0.15);
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color : #fff;
  }
  .product-title {
    position : absolute;
    top : 20px;
    left : 50%;
    transform : translateX(-50%);
    color : $font-blue;
  }
  .images-box {
    display : flex;
    flex-direction: column;
  }
  .product-description {
    padding : 20px 0px;
    background-color: $bg-color-product;
    color : $font-blue;
    p {
      @include sectionPageCenter;
    }
  }
} //main-productDetails