@mixin main-home {

}
@mixin main-products {
  @include macroSectionWidth;
  background-image : url('/img/bg.jpg');
  background-position: center;
  padding-top : 50px;
  .all-products-container {
    @include sectionPageCenter;
    @include large-sectionPageCenter;
    @include medium-sectionPageCenter;
    @include small-sectionPageCenter;
    @include clearFix;
    margin-bottom: 20px;
    .pastaType {
      text-transform : uppercase;
      color : $font-blue;
      padding-left : 15px;
    }
    .section {
      @include clearFix;
      width: 100%;
      .box {
        @include medium-boxResize;
        @include small-boxResize;
        padding: 15px;
        float : left;
        width : calc((100% / 12) * 4);
        img {
          width : 100%;
        }
      }
    }
  }//end all-products-container
};

@mixin main-productDetails {
  position: relative;
  .chevron-left {
    position : absolute;
    height : 100%;
    width : 150px;
    background-color: rgba(0, 217, 255, 0.15);
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color : rgba(255, 255, 255, 0.37);
    &:hover {
      color : #fff;
    }
  }
  .chevron-right {
    position : absolute;
    right : 0px;
    height : 100%;
    width : 150px;
    background-color: rgba(0, 217, 255, 0.15);
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color : rgba(255, 255, 255, 0.37);
    &:hover {
      color : #fff;
    }
  }
  .product-title {
    position : absolute;
    top : 20px;
    left : 50%;
    transform : translateX(-50%);
    color : $font-blue;
  }
  .images-box {
    display : flex;
    flex-direction: column;
  }
  .product-description {
    padding : 20px 0px;
    background-color: $bg-color-product;
    color : $font-blue;
    p {
      @include sectionPageCenter;
    }
  }
} //main-productDetails