
/*>>>>>>>>>>>>>>>LARGE SECTION<<<<<<<<<<<<<<<<<<<<<<*/

//mediaquery for pasrtials _common
@mixin large-sectionPageCenter {
  @media screen and (max-width: 1199px){
    margin : 0 auto;
    width : 992px;
    max-width: 100%;
    min-width: 992px;
  }
}
@mixin medium-sectionPageCenter {
  @media screen and (max-width: 991px){
    margin : 0 auto;
    max-width: 100%;
    width : 768px;
    min-width: 768px;
  }
}
@mixin small-sectionPageCenter {
  @media screen and (max-width: 767px){
    margin : 0 auto;
    width : 577px;
    max-width: 100%;
    min-width: 577px;
  }
}

@mixin large-chevronResize {
  @media screen and (max-width: 1199px) {
    font-size: 40px;
    width : 100px;
  }
}
@mixin large-sectionDetails {
  @media screen and (max-width: 1199px) {
    width: calc(100% - 200px);
  }
}
/*>>>>>>>>>>>>>>>MEDIUM SECTION<<<<<<<<<<<<<<<<<<<<<<*/


//mediaquery main-products
@mixin medium-boxResize {
  @media screen and (max-width: 991px) {
    width : calc((100% / 12) * 6); 
  }
}


//mediaquery liste footer sovrapposte
@mixin medium-listefooter-column {
  @media screen and (max-width: 991px) {
    flex-direction : column;
  }
}



@mixin medium-hidden {
  @media screen and (max-width: 991px) {
    display: none;
  }
}
@mixin medium-visible-flex {
  @media screen and (max-width: 991px) {
    display: flex;
    justify-content: center;
  }
}
@mixin medium-navFlexColumn {
  @media screen and (max-width: 991px) {
    margin-top: 20px;
    display : flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px -3px 3px black;
    z-index: 100;
    width:50%;
  }
}
//resize chevron 
@mixin medium-chevronResize {
  @media screen and (max-width: 991px) {
    font-size: 35px;
    width : 80px;
  }
}

@mixin medium-sectionDetails {
  @media screen and (max-width: 991px) {
    max-width: calc(100%-160px);
  }
}

/*>>>>>>>>>>>>>>>SMALL SECTION<<<<<<<<<<<<<<<<<<<<<<*/


//mediaquery main-products
@mixin small-boxResize {
  @media screen and (max-width: 767px) {
    
    width : calc((100% / 12) * 12); 
  }
}



//LAYOUTMASTER mediaquery title liste footer 
@mixin small-serviceTitle-fontResize {
  @media screen and (max-width: 767px) {
    min-width: 577px;
    font-size: 15px;
  }
}

//resize chevron 
@mixin small-chevronResize {
  @media screen and (max-width: 767px) {
    font-size: 30px;
    width : 45px;
  }
}

//resize description s font text
@mixin small-detailsTextResize {
  @media screen and (max-width: 767px) {
    padding: 20px;
    font-size : 12px;
  }
}

@mixin small-sectionDetails {
  @media screen and (max-width: 767px) {
    width : calc(100% - 90px)
  }
}



@media screen and (max-width: 1199px) {}
@media screen and (max-width: 991px) {}
@media screen and (max-width: 767px) {}